user www-data;

worker_processes auto;

events {
    worker_connections 1024;
}

http {
    include /etc/nginx/mime.types;
    default_type application/octet-stream;

    # The `sendfile` directive enables or disables the use of sendfile()
    sendfile on;

    # The `keepalive_timeout` directive sets the timeout for keep-alive connections
    keepalive_timeout 65;


    server {
        listen 8082;
        server_name example.com www.example.com;

        root /home;

        index index.html index.htm;
        autoindex on;

        location / {
            try_files $uri $uri/ /index.html;
        }
    }

    server {
        listen 8081;
        server_name davysite.com;

        root /home/davy-site;

        location / {
            try_files $uri $uri/ /index.html;
        }
    }

    server {
        listen 8083;
        server_name webserver.com;

        root /home;
        
        location /permi {
            root /app;
            try_files $uri $uri/ /index.html;
        }

        location / {
            autoindex on;
        }

        location /app/crash-limit-m {
            client_max_body_size 2M;
        }

        location /app/crash-limit-g {
            client_max_body_size 1G;
            
        }

        location /app/crash-limit-k {
            client_max_body_size 2K;
        }
    }

    server {
        listen 8084;
        server_name rannasite.com;
        root /home/ranna-site;

        error_page 404 /404.html;
        error_page 500 502 503 504 /50x.html;

        location / {
            
        }

        location /images {
            error_page 404 /errors/error-404.html;
        }
    }
}

# server_name
# listen
# allow_methods
# 